@model RazorPagesWebApp.Pages.GameRoom.IndexModel

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Three Captains</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        /* Additional CSS can be added here */
        .team{
            margin: 2px 2px 2px 2px;
        }

        .currentlyChoosingTeam{
            background-color: green;
        }
    </style>
</head>
<body class="bg-gray-100">
    <div class="container mx-auto p-4">
        <div class="flex flex-col items-center">
            <!-- Top List -->
            <div class="bg-white shadow-md rounded p-4 mb-6 w-full max-w-2xl">
                <ul id="topList" class="list-inside">
                    @foreach (var player in Model.CurrentSession.CreateRoomInputModel.Players)
                    {
                        <li style="margin: 20px 10px 20px 10px;" class="p-2 border-b">@player</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</body>
</html>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

