@page
@model RazorPagesWebApp.Pages.RoomCreatedModel
@{
    ViewData["Title"] = "Room created successfully";

}
<!DOCTYPE html>
<html>
<head>
    <title>Room created successfully</title>
</head>
<body>
    <h1>Room was created successfully</h1>
    <hr/>
    <p>In order to access this room, use the following session id: </p>
    <br/>
    <p id="textToCopy"><b>@Model.RoomId</b></p>
    <button onclick="copyText()">Copy</button>
</body>
</html>

<script>
    function copyText() {
        // Get the text element
        var textElement = document.getElementById("textToCopy");

        // Create a range and select the text
        var range = document.createRange();
        range.selectNode(textElement);
        window.getSelection().removeAllRanges(); // Clear any existing selection
        window.getSelection().addRange(range);

        // Copy the selected text to the clipboard
        document.execCommand("copy");

        // Cleanup: Clear the selection
        window.getSelection().removeAllRanges();
    }
</script>